.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 1em;
  background: #fff;
  box-shadow: 0 0 4px 4px rgba(0,0,0,.2);
}
.header img {
  height: 45px;
}
.header nav .nav_item {
  padding: 1em;
}
.header .dropdown_wrapper {
  position: relative;
}
.header .dropdown_wrapper .dropdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #fff;
  box-shadow: 0 4px 2px 2px rgba(0,0,0,.2);
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 2;
  margin: 0;
}
.header .dropdown_wrapper .dropdown li {
  width: 100%;
}
.header .dropdown_wrapper .dropdown li a {
  display: block;
  width: calc(100% - 1em);
  padding: .5em;
  transition: all .3s ease;
}
.header .dropdown_wrapper .dropdown li a:hover {
  background-color: #eaeaea;
  transition: all .3s ease;
}